<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
      <setting name="jdbcTypeForNull" value="NULL" /> 
  	</settings>
	<typeAliases>
		<typeAlias type="kr.co.doglove.member.domain.Member" alias="Member"/>
		<typeAlias type="kr.co.doglove.visit.domain.Visit" alias="Visit"/>
		<typeAlias type="kr.co.doglove.post.domain.Post" alias="Post"/>
		<typeAlias type="kr.co.doglove.post.domain.Reply" alias="Reply"/>
	</typeAliases>
<!-- 매퍼 만들고 등록해야지 -->
	<mappers>
		<mapper resource="mapper/member-mapper.xml"></mapper>
		<mapper resource="mapper/visit-mapper.xml"></mapper>
		<mapper resource="mapper/post-mapper.xml"></mapper>
		<mapper resource="mapper/reply-mapper.xml"></mapper>
	</mappers>
</configuration>